API_ID=38987335
API_HASH=540c20b4512ccc762d72dabd45a30e47
API_KEY=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=BQIHiFwAFULY22zV-SOhCMJ4lGGL2gQuE84tDSjZJaVZ6aWKG4NxhFPgNc2guIg3261Cly8_238zueejqSMxQFZKOcVAJG3bmMESlunKUtZDTdh_CBSsrSWKxCwu-58Yngza5Nsapz4JQNk9l72hc3evjXM4grqzlmUvLY9Zf7r3wlfA94V1aAbYNQJJefiraVdBDPFqxBorKRrRdFWO4P72-OZATeRIsk5xV33XPi0toIOBlTQ2Jrc-jL9FldZYLq-f6J8XmSlC_PL8MxEuuOjK_UNueeG24HjmjuAtPx3xmPaMpi2BfR4rotTxVXTA9fD-kn6tBnNRqVpTQoDxdqIa4C0fAAAAAAGq3OjqAA
